.modal{
    display: flex;
    justify-content: flex-start;
}
  
.modal-header .modal-title{
    margin-left: 0;
    font-weight: 600 !important;
    padding: auto;
}

.modal-body{
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

