nav {
    background-color: #56ccf2;
}

.Row1 {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 1em;
}

.Col1 {
  display: inline;
  margin-bottom: 3%;
}

.Col-black{
  display: inline;
  margin-bottom: 3%;
}
.Col-white {
  display: inline;
  margin-bottom: 3%;
}

.black-icon {
  color: black;
  text-decoration: none;
  padding: 5em;
}
.white-icon {
  color: white;
  text-decoration: none;
  padding: 5em;
}

.Row1 .Col-black a:hover{
  color: white;
}
.Row1 .Col-white a:hover{
  color: white;
}

.Row1 .Col-black:hover{
  color: white;
  transform: translateY(-5px);
}
.Row1 .Col-white:hover{
  color: white;
  transform: translateY(-5px);
}

span {
  padding-top: 5px;
  font-size: 20px;
  /* margin-left: 10px; */
}

.container {
  margin: 0 auto;
  width: 80%;
}

.kmitl_logo{
  position: absolute; 
  right:20px; 
  top:20px;
}

@media only screen and (max-width: 800px) {
  .kmitl_logo {
    display: none;
  }
}